################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BibliotecaVirtual.Data/bin/Debug/netcoreapp3.1
/.vs
/BibliotecaVirtual/bin/Debug/netcoreapp3.1
/BibliotecaVirtual/obj
/BibliotecaVirtual.Data/obj
/BibliotercaVirtual.Application/bin/Debug/netcoreapp3.1
/BibliotercaVirtual.Application/obj
