################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BibliotecaVirtual/bin
/BibliotecaVirtual/obj
/BibliotecaVirtual.Data/bin
/BibliotecaVirtual.Data/obj
/BibliotercaVirtual.Application/bin
/BibliotercaVirtual.Application/obj
