/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.logo-app {
    width: 50px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Estilos utilizados nos cadastros da biblioteca. */

.cadastro-botoes {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.grade-col-alterar {
    max-width: 30px !important;
}

    .grade-col-alterar a {
        float: right;
    }

form .imagem-dropzone .imagem-dropzone-borda {
    position: relative;
    border: 2px dashed #ddd9d9;
    font: 14px/30px arial;
    margin: 0 0 5px 0;
    text-align: center;
    min-height: 150px;
    height: auto;
    min-width: 150px;
    width: auto;
    max-width: 100%;
    transition-duration: 0.5s;
}

    form .imagem-dropzone .imagem-dropzone-borda:hover {
        border-color: #5c98cc !important;
    }

    form .imagem-dropzone .imagem-dropzone-borda.hover {
        border: 2px dashed #5c98cc !important;
    }


form .imagem-dropzone p.imagem-dropzone-texto {
    position: absolute;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
    color: #bfbfbf;
    text-align: center;
}

form .imagem-dropzone img {
    border: 1px;
    vertical-align: middle;
    max-width: 95%;
    max-height: 11em;
    height: 146px;
}

form .imagem-dropzone input[type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}


form .imagem-dropzone .imagem-dropzone-src {
    position: absolute;
    width: 100%;
}

form .imagem-dropzone .uploader-btn {
    color: #bdbdbd;
    text-align: right;
    position: relative;
}

form .imagem-dropzone .imagem-dropzone-btn-remover {
    padding: 3px 8px 3px 8px;
    max-height: 32px;
    border-radius: unset;
    border: none;
    color: #bdbdbd;
    z-index: 1;
    display: none;
}

    form .imagem-dropzone .imagem-dropzone-btn-remover:hover {
        color: #dc3545;
    }

input.hide-input {
    width: 0;
    height: 0;
    padding: 0;
}

.botao-cadastrar-livro {
    padding-top: 3rem;
    position: absolute;
    right: 0;
}

/* Classes para ajudar na estilização. */
.cursor-pointer {
    cursor: pointer !important;
}

.hidden {
    display: none !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}