@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>A editora "To do" é uma empresa multinacional que atua no seguimento de venda de livros físicos, possui mais de 20 lojas espalhadas pelo mundo, seu sucesso é devido a qualidade de atendimento e atualização constante de sua biblioteca com rapidez e dedicação em tudo o que fazem.</p>

<p>Com esse enorme sucesso, se propos a ajudar as instituições de ensino com emprestimos de seu variado catalogo de livros para os Estudantes.</p>

<p>Está é a <b>Editora To-DO</b>. Um projeto utilizando Asp.NET Core, com EntityFramework e utilizando arquitetura DDD (Domain-Driven Design).</p>
<p>Ela foi construída por <a href="emailto:lsr.sena@gmail.com">Leonardo Sena</a>, e pode ser encontrado no <a href="https://github.com/shadowkras/ewave-livraria-senior">Github</a> para download.</p>

